body{
    background-image: url(img/background.jpg);
    
}
h3{
    text-align: center;
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.back{
    background-color: aliceblue;
}
.square {
	width: 550px;
	height:250px;
	background: rgb(232, 30, 111);
    margin-left: 350px;
    margin-top: 100px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}
 
.fruits{
    background-color: antiquewhite;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 420px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    list-style-position: inside;
    
}

.element{
    background-color: rgb(236, 48, 124);
    color: white;
    justify-content: center;
    
 }

.numbers{
    color:#fff;
    background:rgb(180, 72, 94);
    margin-top: 15px;
    display: flex;
    margin-inline-end: -400px;
    
}
